% -*- erlang -*-
{sub_dirs, ["rel", "apps/pipetest", "apps/reddit", "apps/social"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
        {apptools, ".*", {git, "git://github.com/ericmoritz/apptools", {tag, "1.2"}}},
	{webtools, ".*", {git, "git://github.com/ericmoritz/webtools", {tag, "1.0.2"}}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.5.2"}}},
        {node_package, ".*", {git, "git://github.com/basho/node_package", {branch, "master"}}},
        {riak_pipe, ".*", {git, "git://github.com/basho/riak_pipe", "master"}}
       ]}.
